
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/book']">Books</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
          </ol>
        </nav>
      </div>
    </div>
  
  <div class="row">
    <div class="col-md-12">
      <h1>Edit Book</h1>
      <fieldset>
        <form (ngSubmit)="updateBook(book.id)" #bookForm="ngForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" [(ngModel)]="book.title" name="title" required>
          </div>
          <div class="form-group">
            <label for="first_name">Author</label>
            <angular2-multiselect [data]="authorList" [(ngModel)]="selectedAuthor" name="author" [settings]="authorSettings">
            </angular2-multiselect>
          </div>
          <div class="form-group">
            <label for="first_name">Library</label>
            <angular2-multiselect [data]="libraryList" [(ngModel)]="selectedLibraries" name="libraries" [settings]="librarySettings">
            <c-badge>
              <ng-template let-item="item">
                <label style="margin: 0px;">{{item.name}}</label>
              </ng-template>
            </c-badge>
            <c-item>
              <ng-template let-item="item">
                <label>{{item.name}}</label>
              </ng-template>
            </c-item>
            </angular2-multiselect>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!bookForm.form.valid"><i class="fa fa-arrow-circle-up"></i> Update</button>
            <button class="btn btn-danger float-right" type="button" (click)="deleteBook(book.id)"><i class="fa fa-trash"></i> Delete</button>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</div>