<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Books</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h1>Books</h1>
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="search" (input)="onSearch()">
      </div>
      <div class="col-md-1">
        <a [routerLink]="['/book/create']" class="btn btn-success pull-right"><i class="fa fa-plus-circle"></i> New</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Author</th>
              <th>Libraries</th>
              <th>*</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of books">
              <td>{{ obj.id }}</td>
              <td>{{ obj.title }}</td>
              <td>{{ obj.author.first_name }} {{ obj.author.last_name }}</td>
              <td>
                <span *ngFor="let lib of obj.libraries">
                  {{lib.name}},
                </span>
              </td>
              <td>
                <a [routerLink]="['/book', obj.id]">
                  <i class="fa fa-edit"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <button class="page-link" (click)="previousPage()">Previous</button>
            </li>
            <li class="page-item">
              <button class="page-link" (click)="nextPage()">Next</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
  