<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="/">ngBookStore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/library']">Libraries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/author']">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/book']">Books</a>
      </li>
    </ul>
  </div>
</nav><br>
<div class="container">
  <router-outlet></router-outlet>
</div>