<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/author']">Author</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h1>Add New Author</h1>
        <fieldset>
          <form (ngSubmit)="saveAuthor()" #authorForm="ngForm">
            <div class="form-group">
              <label for="first_name">Name</label>
              <input type="text" class="form-control" [(ngModel)]="author.first_name" name="first_name" required>
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" [(ngModel)]="author.last_name" name="last_name" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success" [disabled]="!authorForm.form.valid"><i class="fa fa-arrow-circle-up"></i> Save</button>
            </div>
          </form>
        </fieldset>
      </div>
    </div>
  </div>
</div>
