<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/author']">Authors</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h1>Edit Author</h1>
        <fieldset>
          <form (ngSubmit)="updateAuthor(author.id)" #authorForm="ngForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" [(ngModel)]="author.first_name" name="first_name" required>
            </div>
            <div class="form-group">
              <label for="name">Last Name</label>
              <input type="text" class="form-control" [(ngModel)]="author.last_name" name="last_name" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success" [disabled]="!authorForm.form.valid"><i class="fa fa-arrow-circle-up"></i> Update</button>
              <button class="btn btn-danger float-right" type="button" (click)="deleteAuthor(author.id)"><i class="fa fa-trash"></i> Delete</button>
            </div>
          </form>
        </fieldset>
      </div>
    </div>
  </div>
</div>  
  